<!DOCTYPE html>
<html lang="en">    
    <body>
        <main role="main" data-fee-playlists="true">
        {{{XprElement bundlePath="playlist_container" options.path="sample_path.hbs"}}}.
        </main>
    </body>
</html>